# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build dir
**/build
**/.vscode
boost-learn/test/JudgeByteOrder
boost-learn/socket-send
boost-learn/socket-accept
boost-learn/socket-bind
boost-learn/multiplexier/epoll_lt_et
boost-learn/advancedIO/pipe-test
boost-learn/multiplexier/chatroom-client
.gitignore
boost-learn/multiplexier/chatroom-server
